body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100dvw;
    height: 100dvh;
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.circle {
    position: relative;
    background-color: red;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation: pong 0.5s ease-in-out infinite alternate;
}

@keyframes pong {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}